/* CSS Document */
@font-face {
    font-family: myFont;
    src: url(../fonts/IRAN-SansWeb.woff), url(../fonts/IRAN-SansWeb.ttf), url(../fonts/IRAN-SansWeb.eot);
}

@font-face {
    font-family: myFont2;
    src: url(../fonts/IRANSansWeb.woff), url(../fonts/IRANSansWeb.ttf), url(../fonts/IRANSansWeb.eot);
}

@font-face {
    font-family: BTitrBd;
    src: url(../fonts/BTitrBd.woff), url(../fonts/BTitrBd.ttf);
    font-weight: bold;
}

@font-face {
    font-family: BTraffic;
    src: url(../fonts/BTraffic.ttf);
}

@font-face {
    font-family: BTraffic;
    src: url(../fonts/BTrafcBd.ttf);
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    text-align: right;
    font-family: myFont;
    font-size: 14px;
}
a:hover {
    cursor: pointer
}
ul li {list-style: none}
/*for bootstrap rtl*/
/*///////////////////////////////////////*/
body{overflow-x: hidden}
header div.header_top_row,header div.header_bottom_row{
    background-color: #e1e1e1;
    height: 30px;
}
header div.header_second_row{
    background-color:#99ca3b;
}
div#navba_row nav.navbar>a.navbar-brand>img{
    position: relative;
    width: 150px;
}
div#navbarSupportedContent{
    background-color: #0068a7;
}
div#navba_row{
    background-color: #0068a7;
}
div#header_logo_wraper{
    position: relative;
}
div#header_logo_wraper>a.navbar-brand{    position: absolute;
    top: -85px;
    z-index: 2;}
div#header_logo_wraper>a.navbar-brand>img{
    width: 170px;
}
div#navbarSupportedContent ul.navbar-nav li.nav-item a.nav-link{
    color: white;
}
section#latest_articles>div.row:first-child{
padding: 30px ;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(#0068a7 40%, white 40%,white 60%,#99ca3b 60%);
}
div.owl-stage-outer{direction: ltr}
section#section_boxs>div.row{
    justify-content: space-around;
}
section#section_boxs div.sectionbox{
    text-align: center;
    color: white;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 0 rgba(0,0,0,.08);
    min-width: 210px;
}
section#section_boxs div.sectionbox a{
    color: inherit;
}
section#section_boxs div.sectionbox a i[class^="fa"]{
    font-size: 48px;
}
section#section_boxs div.sectionbox:nth-child(1){
     background-color: #0068a7;
 }
section#section_boxs div.sectionbox:nth-child(2){
    background-color: #99ca3b;
}
section#section_boxs div.sectionbox:nth-child(3){
    background-color: #909090;
}
section#section_boxs div.sectionbox:nth-child(4){
    background-color: #ce0225;
}
section#latest_articles div.article_box{
    background-color: white;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 0 rgba(0,0,0,.08);
}
section#latest_articles div.article_box .latest_article_heading a{
    color: #3a3a3a;
    font-size: 24px;
}
section#latest_articles div.article_box  p{
    color: #adadad;
}
section#latest_items_box div.item_box{
    background-color: white;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 0 rgba(0,0,0,.08);
    max-width: 400px;
}
section#latest_items_box div.item_box div.item_content_box{
    background-color: #99ca3b;
    min-height: 80px;
}
section#latest_items_box div.item_box div.item_content_box .item_content_box_heading{
    color: #4d4d4b;
    font-size: 18px;
}
section#latest_items_box div.item_box div.item_content_box .item_content_box_description{
    color: white;
    font-size: 10px;
}
section#latest_items_box div.item_box div.item_content_box .item_content_box_price{
    color: white;
    font-size: 10px;
}
section#latest_items_box div.item_box div.item_image_box img{

}
div#row_upper_footer{
    min-height: 30px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(#606060 33%, #b6c60e 33%,#b6c60e 66%,#606060 66%);
}
div#footer_top_row{
    background-color: #ebeff2;
    border-bottom: 8px solid #99ca3d;
    justify-content: space-around;
}
div#footer_middle_row{
    background-color: #606060;
}
div#footer_last_row{
    background-color: #99ca3b;
}
div#footer_copyright{
    background-color: #0068a7;
    color: white;
    text-align: center;
}